*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}
body{
    background-color: rgb(248, 242, 242);
}
.main{
    
    width: 100vw;
    height: 100%; 
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.tableclass{
    
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
   
    
    
    
}
.title h1{
    font-family:monospace;
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
    font-size: 45px;

}
#tableid{
    display: none;
}
.labelsort{
    height: 40px;
    overflow-x: visible;
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: space-around;
    border: 2px solid;
    border-radius: 1px;
    flex-direction: row;
}
.inputbar
{
    margin-top: 10vh;
    width: 100vw;
    display: flex;
    justify-content:center;
}
.input{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 800px;
    height: 40px;
    font-size: 25px;
}
.input::placeholder{
    font-size: 25px;
}
.tableclass th{
    width: 200px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    text-align: left;
    position: sticky;

}

.tableclass td{
    width: 200px;
    height: 30px;
}
.tablehead{
    background-color: rgb(168, 133, 133);
    border: none;
}
.tableclass tr{
    border: solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    margin:2px;
    height: 40px;
    width: 800px;
}